:root {
  --base-color: #282c38;
  --baseLight-color: #393d4c;
  --text-color-primary: #fff;
  --text-color-secondary: #d8d7d7;
  --primary-color: #f9f871;
  --danger-color: #e74462;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
